version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n-container
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "5678:5678"
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8n
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123
    volumes:
      - n8n:/home/node/.n8n

  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: gotenberg-container
    restart: unless-stopped
    ports:
      - "3000:3000"

volumes:
  n8n:
  postgres_data:

